/* Style the Image Used to Trigger the Modal */
.zv3-img {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.zv3-img:hover {opacity: 0.7;}

/* The Modal (background) */
.zv3-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-image {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 1043px;
  float: left;
  margin-bottom: 10px;
}

#modpara {
  margin: auto;
  display: block;
  width: 90%;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

#zv3-array{
  margin-bottom: 16px;
  float: left;
  width: 100%;
}

/* Add Animation - Zoom in the Modal */
.modal-image, #modpara {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.zv3-close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.zv3-close:hover,
.zv3-close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-image {
    width: 100%;
  }
  #modpara{
    width: 98%;
  }
}