.pm-half-801 {
    width: 100%;
}
#nsvr_content {
    display: none;
}
@media (min-width: 601px) {
    .w3-half-margin {
        width: 48%;
    }
}
@media (min-width: 1201px) {
    .pm-half-801 {
        width: 48%;
    }
    .w3-third-flr {
        float: right;
    }
}

/* radio boxes */
input[type=radio]#dispDiv_nsvr:checked ~ div#nsvr_content {
    display: block;
}
input[type=radio]#dispDiv_nsvr:checked ~ label[for=dispDiv_nsvr] {
    color: white;
    background-color: #009688 !important;
}