.pm-dual-601 {
    width: 100%;
}
#pveUg_content {
    display: none;
}
@media (min-width: 601px) {
    .pm-dual-601 {
        width: 48%;
    }
}
@media (min-width: 801px) {
    .pm-dual-801 {
        width: 32%;
    }
    .pm-dual-no {
        width: 100%;
    }
}

/* radio boxes */
input[type=radio]#dispDiv_pveUg:checked ~ div#pveUg_content {
    display: block;
}
input[type=radio]#dispDiv_pveUg:checked ~ label[for=dispDiv_pveUg] {
    color: white;
    background-color: #009688 !important;
}