.techCard{
	padding: 5px;
	display: none;
	float: left;
}
label{
	float: left;
	margin: 5px;
}
label h5{
	background-color: gray;
	color: white;
}
label h5:hover{
	color: red;
}
input[type=radio]{
	display: none;
}
input[type=radio]#dispHTMLbox:checked ~ div#HTMLbox{
	display: block;
}
input[type=radio]#dispPHPbox:checked ~ div#PHPbox{
	display: block;
}
input[type=radio]#dispDBbox:checked ~ div#DBbox{
	display: block;
}
input[type=radio]#dispHTMLbox:checked ~ label[for=dispHTMLbox] > h5{
	color: white;
	background-color: #009688 !important;
}
input[type=radio]#dispPHPbox:checked ~ label[for=dispPHPbox] > h5{
	color: white;
	background-color: #009688 !important;
}
input[type=radio]#dispDBbox:checked ~ label[for=dispDBbox] > h5{
	color: white;
	background-color: #009688 !important;
}
a.TutoLink {
	color: #00aba9;
}
a.TutoLink:hover {
	background-color: black;
	color: red !important;
}
a.TutoLink:visited {
	color: #1ba1e2;
}