header{
	background-position: center;
	background-size: cover;
	min-height: 100%;
	width: 100%;
	background-image: url("/img/rhg600.jpg");
}
#Inhalt div{
	margin-top: 10px;
	padding-bottom: 10px;
}
#graphGallery div{
	width: 96%;
	color: white;
}
#graphGallery div img{
	width: 100%;
	height: auto;
}
#imgGallery{
	width: 100%;
}
#imgGallery div img{
	width: 100%;
	height: auto;
}
#imgGallery div{
	background-color: #4080ae;
	width: 100%;
}
input[type=checkbox] {
	display: none;
}
input[type=checkbox]:checked ~ label > img {
	transform: scale(3.5) translate(-50px);
	cursor: zoom-out;
}
.rtl-zoom img {
	transition: transform 0.25s ease;
	cursor: zoom-in;
}
label {
	pointer-events: none;
}
h6#hintZoom {
	display: none;
}
@media (min-width: 601px){
	header{
		max-width: 90%;
		margin-left: 5%;
	}
	label {
		pointer-events: unset;
	}
	h6#hintZoom {
		display: unset;
	}
	#imgGallery{
		width: 90%;
	}
	#paraSpace, #imgGallery{
		margin-left: 5%;
	}
	#graphGallery div p{
		font-size: 12px !important;
	}
	#graphGallery div img{
		max-width: 300px;
	}
	#imgGallery div{
		width: 24%;
		margin-left: 0.47% !important;
		margin-right: 0.47% !important;
		float: left;
	}
	#imgPreTest{
		max-width: 200px !important;
	}
}