div#Inhalt{
    margin-top: 38.85px;
}
#sbar{
    height: 95%;
    margin-top: 38.85px;
    background-color: silver;
    position: absolute !important;
}
div#Menu:target ~ div#Inhalt{
    margin-top: 0;
}
div#Menu:target ~ .sidebar-open{
    display: none;
}
.sidebar-button{
    background-color: darkblue;
    display: block;
    position: absolute;
    top: 38.85px;
    left: 0;
    padding: 0.5em;
    color: white;
    cursor: pointer;
    text-decoration: none;
}
.w3-sidebar div#sbar-title{
    display: block;
    padding: 8px 16px;
    margin-left: 13.3px;
    background-color: gray;
    color: white;
}
#sbar:target ~ .sidebar-open{
    display: none;
}
#sbar:target{
    display: block;
}
@media (min-width: 992px){
    #sbar{
        height: 98%;
    }
    div#Inhalt{
        margin-top: 0;
        margin-left: 201px;
        width: auto;
    }
    .sidebar-button{
        display: none;
    }
    .w3-sidebar div#sbar-title{
        margin-left: unset;
    }
}
